carbon_cloud:
  eureka_address: localhost
server:
  port: 8008
spring:
  application:
    name: Carbon-Eureka
eureka:
  instance:
    hostname: carbon-eureka   #dont sure if the host name can change
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://${carbon_cloud.eureka_address}:${server.port}/eureka/
  server:
    enable-self-preservation: false
    my-url: http://${carbon_cloud.eureka_address}:${server.port}

logging:
  config: classpath:log4j/log4j2-info.yml
#  config: src/main/resources/log4j2-config.xml
#  level:
#    cn.jay.repository: trace